<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>New Skill</h1>
  <form action="/skills" method="POST" autocomplete="off">
    <label for="name">Name of Skill: </label>
    <input type="text" name="name">

    <br>

    <label for="notes">Notes for Skill</label>
    <input type="text" name="notes">

    <br>
    <button type="submit">Save Skill</button>
  </form>
</body>
</html>