<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<!-- Note: I coded the below by hand using the following as a guide/template: https://www.notion.so/seiremote/Express-Routers-Controllers-d1d13d2ef3fc4b77b42e00e0821ce4ad -->
<body>
  <h1>Skills</h1>
  <% if(error) { %>
    <h2><%=error %></h2>
  <% } else {%> 
    <h2>Skill #<%=skill._id%></h2>
    <h3><%=skill.name + ': ' + skill.notes %></h3>
  <% } %>
  
  <form action="/skills/<%=skill._id%>?_method=DELETE" method="POST">
    <button type="submit">Delete Skill</button>
  </form>
  
  <a href="/skills">Go back</a>
 
</body>
</html>